@using BookLibrary_Homework.Models.ViewModels
@model BookDetailbyID

<h3>@ViewData["Title"]</h3>

<ul>
    <li>@Model.Title</li>
    <li>@Model.YearOfPublishing</li>

    @foreach (var author in @Model.Authors)
    {

        <li>"Author: @author.FirstName  @author.LastName"</li>

    }
</ul>
